@import "../../../styles/styles.scss";

.error{
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        font-size: $text-font-size-large;
        font-weight: $font-weight-large;
        color: $light;
    }
}