@import "../../styles/styles.scss";

.genres{
    display: flex;
    gap: 5px;
    
    margin: 0;
    padding: 0;

    @media #{$screen-tablet}{
        max-width: 90%;
        flex-wrap: wrap;
    }
}