@import "../../../styles/styles.scss";

.loading{
    position: relative;
    height: 70vh;

    span{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: $text-font-size-large;
        font-weight: $font-weight-large;
        color: $light;
    }
}