@import "../../../../styles/styles.scss";


.wrapper{
    @include wrapper;
}

.movieHeader{
        position: relative;
        height: 85vh;

        margin-bottom: 40px;

        @media #{$screen-tablet}{
            height: 450px;
        }

        .info{
            position: absolute;
            bottom: 20%;
            z-index: $z-index-medium;

            display: flex;
            flex-direction: column;
            gap: 20px;

            @media #{$screen-desktop}{
                bottom: 10%;
            }

            .logo{
                font-weight: $font-weight-large;
                font-size: $title-font-size-huge;
                max-width: 400px;

                color: $light;

                @media #{$screen-mobile}{
                    max-width: 200px;
                }
            }

            .details{
                font-weight: $font-weight-medium;
                font-size: $text-font-size-medium;

                display: flex;
                align-items: baseline;
                gap: 10px;

                @media #{$screen-mobile}{
                    font-size: $text-font-size-small;
                }

                .rating{
                    font-weight: $font-weight-large;
                    font-size: $text-font-size-huge;
                }

                .year{
                    color: $grey;
                }
            }

            .buttons{
                display: flex;
                align-items: center;
                gap: 10px;
    
                .wathFilm{
                    @include button(true);
                }
    
                .wathTrailer{
                    @include button;
                }

                .wathFilm,
                .wathTrailer{
                    @media #{$screen-mobile}{
                        padding: 10px;
                    }
                }

                
            }
        }
}