@import "../../styles/styles.scss";

.header{
    position: sticky;
    top: 0;
    z-index: $z-index-big;

    padding: 10px 0; 


    backdrop-filter: blur(70px);

    @media #{$screen-tablet}{
        padding: 5px 0;
    }

    .wrapper{
        @include wrapper;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation{
        display: flex;
        gap: 40px;
        align-items: flex-start;

        @media #{$screen-desktop}{
            gap: 20px;
            align-items: center;
        }

        .logo{
            width: 200px;
            height: auto;

            @media #{$screen-desktop}{
                width: 150px;
                height: auto;
            }
        }
        
    }

}