@import "../../styles/styles.scss";

@keyframes slidein {

    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

.animate{
        animation-duration: 1s;
        animation-name: slidein;

        transition: all 0.3s;
        position: relative;
        bottom: -30px;
    
        width: 100%;
        height: 75vh;
}
.accordion{
    transition: all 0.3s;
    position: relative;
    bottom: -30px;

    width: 100%;
    height: 75vh;
}

.close{
    font-size: $title-font-size-large;

    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;

    padding: 5px 5px 0px 5px;
    border-radius: $border-radius-medium;

    transition: opacity $transition-duration-fast;

    cursor: pointer;
    color: $light;

    backdrop-filter: blur(100px);

    &:hover{
        opacity: 0.7;
    }
}

.accordionContent{
    position: absolute;
    z-index: $z-index-small;
    top: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    width: 45%;
    padding: 0 40px;

    .logo{
        font-weight: $font-weight-large;
        font-size: $font-size-xxl;

        width: 50%;

        color: $light;
    }

    .details{
        font-weight: $font-weight-large;
        display: flex;
        align-items:baseline;
        gap: 10px;

        .year{
            color: $grey;
        }
    }

    .description{
        font-size: $text-font-size-large;
        line-height: 28px;

        word-wrap: break-word;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .wathLink{
        @include button;
    
        font-size: $text-font-size-large;
    
        background: $accent-gradient;
    }
    
}



.imgContainer{
    width: 50%;
    height: 100%;
    margin-left:  auto;
}