@import "../../../styles/styles.scss";

.swiperContainer{
  position: relative;
  padding: 0 40px;
}
  .carousel {
    height: 100%;

    &-wrapper{
      display: flex;
      align-items: stretch;
    }
  }

  .slide {
    height: auto;
    align-items: stretch;
  }
  

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }