@import "../../styles/styles.scss";

.footer{
    flex-shrink: 0;

    .wrapper{
        @include wrapper;

        .title{
            font-size: $title-font-size-large;
            margin-bottom: 20px;

            @media #{$screen-tablet}{
                font-size: $title-font-size-medium; 
                margin-bottom: 10px;
            }
        }

        .content{
            font-weight: $font-weight-medium;
            line-height: 20px;

            max-width: 650px;

            color: $grey;

            @media #{$screen-tablet}{
                font-size: $text-font-size-small;   
                
                max-width: 450px;
            }
        }
    }
}