@import '../../styles/styles.scss';

.notFound{
    width: 100vw;

    span{
        font-weight: $font-weight-large;
        font-size: $title-font-size-medium;

        height: 70vh;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}